<a href="https://colab.research.google.com/github/imaadityak/LH_DSML_Series/blob/main/Learning_Hour_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [30]:
import sys
import array as arr
import numpy as np
import keyword
import operator
from datetime import datetime
import os

Keywords

In [88]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [89]:
len(keyword.kwlist) # Python contains 35 keywords

35

Identifiers

In [91]:
1var = 1  # Identifier can't start with a digit

SyntaxError: ignored

In [93]:
val2@ = 2 # Identifier can't use special symbols

SyntaxError: ignored

In [94]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
val2 = 2023

In [95]:
val_2 = 2024

Comments in Python

In [96]:
# Single line comment
num1 = 1

In [97]:
# Multiple
# line
# comment
num_1 = 2

"""
Multiple
line
comment
"""
print(num_1)

2

Statements

In [99]:
# Single line statement
ss = 10 + 20
print(ss)

# Multi line statement will be using by '\'
ss_1 = 20 + 30 \
       + 40 + 50 +\
        + 70 + 80

ss_1

30

290

Indentation

In [100]:
ind = 0
if ind == 0:
 print ('ind is equal to 0') # correct indentation

ind is equal to 0

In [101]:
# if indentation is skipped we will encounter "IndentationError: expected an ind error
ind_1 = 1
if ind_1 == 1:
print ('ind is equal to 1')

IndentationError: ignored

Variable Assigment

In [102]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Programming" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Programming

Multiple Variable Assignments

In [103]:
intvar_1 , floatvar_1 , strvar_1 = 10,2.57,"Python Programming" # Using commas to separate
print(intvar_1)
print(floatvar_1)
print(strvar_1)

10
2.57
Python Programming

**Data Types**

Numeric

In [104]:
int_1 = 10 # Integer data type
print(int_1)
print(type(int_1)) # type of object
print(sys.getsizeof(int_1)) # size of integer object in bytes
print(int_1, " is Integer?", isinstance(int_1, int)) # int_1 is an instance of int

#Note: If you face any library issue please re run cell 1

10
<class 'int'>
28
10  is Integer? True

In [105]:
int_2 = 99.99 # Float data type
print(int_2)
print(type(int_2)) # type of object
print(sys.getsizeof(int_2)) # size of float object in bytes
print(int_2, " is float?", isinstance(int_2, float)) # int_2 is an instance of float

99.99
<class 'float'>
24
99.99  is float? True

In [106]:
int_3 = 25 + 10j # Complex data type
print(int_3)
print(type(int_3)) # type of object
print(sys.getsizeof(int_3)) # size of float object in bytes
print(int_3, " is complex?", isinstance(int_3, complex)) #int_3 is an instance of c

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [107]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [108]:
sys.getsizeof(float()) # size of float object in bytes

24

In [109]:
sys.getsizeof(complex()) # size of complex object in bytes

32

Boolean

In [110]:
bool1 = True
bool2 = False

In [111]:
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [112]:
isinstance(bool1, bool)

True

In [113]:
bool(0)

False

In [114]:
bool(1)

True

In [115]:
bool (False)

False

String Creation

In [116]:
str1 = "HELLO VIGILANT"
print(str1)

HELLO VIGILANT

print same value for multiple times

In [117]:
mystr1 = 'AK24 '  #AK24 alias mystr1 has some space in the end , space is also a charcter its does have some memory
mystr1 = mystr1*5
mystr1

'AK24 AK24 AK24 AK24 AK24 '

In [118]:
len(mystr1) #Length of string

25

String Indexing

In [119]:
mystr1[:]

'AK24 AK24 AK24 AK24 AK24 '

In [120]:
mystr1[0:1]

'A'

In [121]:
print(mystr1[-2])
print(mystr1[len(mystr1)-2])

4
4

In [122]:
mystr1[-4:-1]

'K24'

Update & Delete String

In [123]:
str1

'HELLO VIGILANT'

In [124]:
#Strings are immutable which means elements of a string cannot be changed once they created
str1[0:2] = 'HI'

TypeError: ignored

In [125]:
del str1 # Delete a string
print(str1)

NameError: ignored

String concatenation

In [126]:
# String concatenation
sc_1 = "Hello"
sc_2 = "aKanakamalla"
sc_3 = sc_1 + sc_2
print(sc_3)

HelloaKanakamalla

In [127]:
# String concatenation
sc_11 = "Hello"
sc_22 = "aKanakamalla"
sc_33 = sc_11 + " " + sc_22
print(sc_33)

Hello aKanakamalla

Iterating through a String

In [128]:
mystr1

'AK24 AK24 AK24 AK24 AK24 '

In [129]:
# Iteration
for i in mystr1:
 print(i)

A
K
2
4

A
K
2
4

A
K
2
4

A
K
2
4

A
K
2
4

In [130]:
for i in enumerate(mystr1):
 print(i)

(0, 'A')
(1, 'K')
(2, '2')
(3, '4')
(4, ' ')
(5, 'A')
(6, 'K')
(7, '2')
(8, '4')
(9, ' ')
(10, 'A')
(11, 'K')
(12, '2')
(13, '4')
(14, ' ')
(15, 'A')
(16, 'K')
(17, '2')
(18, '4')
(19, ' ')
(20, 'A')
(21, 'K')
(22, '2')
(23, '4')
(24, ' ')

In [131]:
print(list(enumerate(mystr1)))  # Enumerate method adds a counter to an iterable and return list
print('\t')
print('\n') # New/next line
print(len(list(enumerate(mystr1))))

[(0, 'A'), (1, 'K'), (2, '2'), (3, '4'), (4, ' '), (5, 'A'), (6, 'K'), (7, '2'), (8, '4'), (9, ' '), (10, 'A'), (11, 'K'), (12, '2'), (13, '4'), (14, ' '), (15, 'A'), (16, 'K'), (17, '2'), (18, '4'), (19, ' '), (20, 'A'), (21, 'K'), (22, '2'), (23, '4'), (24, ' ')]

25

String Membership

In [132]:
# String membership
mystr1 = "Hello VIGILANT"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string
print ('VIGILANT' in mystr1) # Check whether substring "Everyone" is present in string
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysrt1"

True
True
False

String Functions

In [133]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [134]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [135]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [136]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [137]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [138]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [140]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [141]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [142]:
mystr2 = " Hello Everyone "

In [143]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [144]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [145]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [146]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [147]:
mystr3 = "one two three one two two three"
mystr3

'one two three one two two three'

In [148]:
mystr3.count("one") # Number of times substring "one" occurred in string.

2

In [13]:
mystr3 = "one two three one two two three"
c = {}

for i in mystr3.split():
    c[i] = c.get(i, 0) + 1

for i, ci in c.items():
    print(f"{i}: {ci}")

one: 2
two: 3
three: 2

In [149]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [150]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [151]:
# Combining string & numbers using format method   "fStrings"
item1 = 0
item2 = 1
item3 = 2
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 0 , 1 and 2

In [6]:
uff = " WELCOME EVERYONE "
uff = uff.center(100) # center align the string using a specific character
print(uff)

                                          WELCOME EVERYONE

In [153]:
uff2 = " WELCOME EVERYONE "
uff2 = uff2.center(100,'*')
print(uff2)

***************************************** WELCOME EVERYONE *****************************************

In [154]:
uff_2 = " WELCOME EVERYONE "
uff_2 = uff_2.rjust(50)
print(uff_2)

                                 WELCOME EVERYONE

In [155]:
uff_22 = " WELCOME EVERYONE "
uff_22 = uff_22.rjust(50,'*')
print(uff_22)

******************************** WELCOME EVERYONE

In [157]:
uff_222 = "one two three four five six seven"
loc = uff_222.find("five") # Find the location of word 'five' in the string "uff_222"
print(loc)
l_index = uff_222.index("five")
print(l_index)

19
19

Using Escape Character

In [161]:
#Using double quotes in the string is not allowed.
Stark = "My favourite series is "Iron Man""

SyntaxError: ignored

In [163]:
#Using escape character to allow illegal characters
Stark = "My favourite series is \"Iron Man\""
print(Stark)

My favourite series is "Iron Man"

**LIST**

In [164]:
list1 = [] # Empty List
print(type(list1))
list2 = [10,30,60] # List of integers numbers
list3 = [10.77,30.66,60.89] # List of float numbers
list4 = ['one','two' , "three"] # List of strings
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists
list6 = [100, 'Asif', 17.765] # List of mixed data types
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
len(list6) #Length of list

<class 'list'>

3

In [166]:
print(list2[0]) # Retreive first element of the list
print(list4[0]) # Retreive first element of the list
print(list4[0][2]) # Nested indexing - Access the first character of the first list elem
print(list4[-1]) # Last item of the list
print(list5[-1]) # Last item of the list

10
one
e
three
[150, 90]

In [170]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [171]:
print(mylist)
mylist.append('nine') # Add an item to the end of the list
print(mylist)
mylist.insert(9,'ten') # Add item at index location 9
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [172]:
mylist.insert(1,'ONE') # Add item at index location 1
print(mylist)

['one', 'ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [173]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [174]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [175]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [176]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [177]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [181]:
mylist = [i + 1 for i in range(7)]
mylist

[1, 2, 3, 4, 5, 6, 7]

In [182]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

Copy List

In [3]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' , 'nine' , 'ten']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [4]:
mylist1= mylist
mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [5]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(132739048584832, 132739048584832)

In [6]:
mylist2 = mylist.copy() # Create a copy of the list

In [8]:
id(mylist) , id(mylist2)

(132739048584832, 132739048460672)

Join Lists

In [9]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [10]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

**Tuple**

Tuples offer some degree of safety when we want to define lists of immutable constants.

In [4]:
tup = (1, 1, 2, 3, 5, 8, 13)
tup

(1, 1, 2, 3, 5, 8, 13)

In [3]:
tup[4]

5

In [5]:
tup[4] = 7

TypeError: ignored

**Arrays**

Array is similar to a list but where all the elements of the list are of the same type

Different types of arrays

In [42]:
list2a = list(range(1,11))
print(type(list2a))
print(list2a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
list2b = arr.array('f',list2a)
print(type(list2b))
print(list2b)

<class 'array.array'>
array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

In [35]:
list2b[-1]

10

In [49]:
list2c = np.array(list2b[-2:])
list2c

array([ 9, 10], dtype=int32)

In [61]:
np.linspace(1, 10, num=10, dtype=complex)
#int
#float
#complex
#bool

array([ 1.+0.j,  2.+0.j,  3.+0.j,  4.+0.j,  5.+0.j,  6.+0.j,  7.+0.j,
        8.+0.j,  9.+0.j, 10.+0.j])

# zeros(num, dtype=float):
# Returns an an array of 0s with num elements. Optional dtype argument can be used to set data type; left unspecified, a float array is made.
# ones(num, dtype=float):
# Returns an an array of 1s with num elements. Optional dtype argument can be used to set data type; left unspecified, a float array is made.

In [68]:
zp = [1, 2, 3, 3, 5]
zeros_array = np.zeros_like(zp, dtype=int)
zeros_array

array([0, 0, 0, 0, 0])

In [69]:
zp = [1, 2, 3, 3, 5]
zeros_array1 = np.ones_like(zp, dtype=int)
zeros_array1

array([1, 1, 1, 1, 1])

In [96]:
Rohit = np.arange(9)
Rohit

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [99]:
Rohit = np.reshape(Rohit, (3, 3))
Rohit

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [102]:
print(Rohit[1][1],end='')
print(Rohit[1][2])

45

In [103]:
Rohit

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [104]:
Rohit.T

array([[0, 3, 6],
       [1, 4, 7],
       [2, 5, 8]])

**Dict**

In [111]:
bengaluru = {"Nagavara": 560045,"Tanisandhra": 560077,"Yelahanka": 560064}

In [112]:
bengaluru['Nagavara']

560045

In [113]:
naam_dob = {}

In [114]:
naam_dob["first name"] = "Aditya"

In [115]:
naam_dob["last name"] = "Kanakamalla"

In [116]:
naam_dob['dob'] ="November 23 1999"

In [118]:
naam_dob

{'first name': 'Aditya', 'last name': 'Kanakamalla', 'dob': 'November 23 1999'}

In [121]:
naam_dob.keys()

dict_keys(['first name', 'last name', 'dob'])

In [122]:
naam_dob.values()

dict_values(['Aditya', 'Kanakamalla', 'November 23 1999'])